body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
header h1 {
    margin-top: 20px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.thumb-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.thumb-btn:hover {
    background-color: #555;
}

#image-viewer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#displayed-image {
    max-width: 90%;
    max-height: 80vh;
}