body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header h1 {
    margin-top: 20px;
}

#thumbnail-btn {
    display: inline-block;
    background-color: grey;
    border: none;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#thumbnail-img {
    width: 250px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

#category-btn {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 18px;
}

.hidden {
    display: none;
}

.discord-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #5865F2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.discord-button:hover {
    background-color: #4854c3;
}
